.language {
    border-width: 1px;
    border-color: rgb(107, 145, 175);
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: center;
    color: #6b91af;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.frontend {
    border-width: 1px;
    border-color: #9f86ba;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: center;
    color: rgb(159, 134, 186);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.backend {
    border-width: 1px;
    border-color: #408a6e;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: center;
    color: rgb(64, 138, 110);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    .frontend {
        border-color: #d8b4fe;
        color: #d8b4fe;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .backend {
        border-color: #70ecbd;
        color: #70ecbd;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .language {
        border-color: rgb(154, 205, 247);
        color: #9acdf7;
    }
}